<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
</head>
<body>

    <div id="div-app">
        <div v-for="c of custs">
          ID : {{c.id}} Name :{{c.name | toUpper("best","fang")}}
        </div>
    </div>
   <hr/>
    <div id="div-app02">
        <div v-for="c of custs">
          ID : {{c.id}} Name :{{c.name | capitalize }}
        </div>
    </div>

</body>
</html>

<script src="Scripts/vue.js"></script>
<script>

      Vue.filter("toUpper",function(data,data2,data3){
        if(data2==undefined)data2="";
        if(data3==undefined)data3="";
        return data.toUpperCase()+ data2+ data3;
      });

      var vm = new Vue({

          el : "#div-app",
          data : {
              custs :[
                { id:4, name :"aaa"},
                { id:3, name :"BBB"},
                { id:2 ,name :"CCC"},
                { id:1, name :"ABC"}

              ]

          }


      });

      var vm2 = new Vue({

          el : "#div-app02",
          data : {
              custs :[
                { id:4, name :"aaa"},
                { id:3, name :"BBB"},
                { id:2 ,name :"CCC"},
                { id:1, name :"ABC"}

              ]

          },
          filters :{
              todown : function(data){
                  return data.toLowerCase();
              },
              capitalize : function(data){
                  var result = data.substring(0,1).toUpperCase()+data.substring(1,data.length).toLowerCase();
                  return result;
              }


          }


      });

</script>
